.home-btn {
  margin-top: 10px;
  border: 1px solid;
  padding: 5px 15px;
  -webkit-border-radius: 4px;
  text-decoration: none;
  transition: all .5s;
  background-color: white;
  color: black;
}
.home-btn:hover {
  color: #f8f9fa;
  background-color: #0078ff;
  text-decoration: none;
}