- if current_user
  .stats
    .following
      = link_to following_user_path(@user) do
        = @user.followings.count
      フォロー
    .follower
      = link_to followers_user_path(@user) do
        = @user.followers.count
      フォロワー

-# 数字を押すと、フォローしている、フォローされている人の一覧が出てくる