詳細
まだ誰もフォローしていないから誰も表示されない
- @users.each do |user|
  = user.name


  -# = user.name
  -# = link_to '詳細', user_path(user)


  -# .followingsIndex
  -#   %table
  -#     %tr
  -#       %td
  -#         = user.name
  -#       %td
  -#         = link_to '詳細', user_path(user)