<%# canvasタグ内にグラフを描く  %>
<div class="chart-container" style="position: relative; height:20vh; width:40vw">
    <canvas id="myChart"width="400" height="400"></canvas>
</div>

<%# htmlのscriptタグ内にjsを書いていく %>
<script>
// グラフ部分のDOMを取得しgetContextメソッドでグラフを描く
var ctx = document.getElementById("myChart").getContext('2d');

var myChart = new Chart(ctx, {
    
    type: 'bar',
    data: {
        // labelsでX軸を指定
        labels: gon.date,
        datasets: [{
            label: "1日のカロリー合計",
            // dataでY軸を指定
            data: gon.data,
            backgroundColor: 'rgba(60, 179, 113, 1.0)',
            borderColor: 'rgba(245, 245, 245, 1.0)',
            fill: false
        }]
    },
    options: {
        title:  {
            display: true,
            text: "カロリーグラフ"
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                id: 'y左軸'
            }]
        }
    }
});

</script>