@keyframes heartAnimation {
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    /* もとのサイズに戻す */
    transform: scale(1.0);
  }
}

.LikesIcon-fa-heart{
  font-size: 15px;
}
.LikesIcon-fa-heart.heart{
  /* heartAnimationアニメーションを200ミリ秒かけて実行する */
  animation: heartAnimation .2s;
  /* アイコン色を黒から赤へ変更する */
  color: #e2264d;
}
.like_button {
  display: none;
}