!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .main-tweet
      .header
        タイムライン
        ユーザー一覧
        設定
        ログアウト
      .contents
        投稿１
        投稿２
        投稿３