.main-tweet
  %div.container
    %section.post_area
      %div.row
        %div.col-sm-10
          %textarea.new_post{"type" => "text？","placeholder" =>"何たべた？", "class" => "what_food"}
        %div.col-sm-10
          %div.pfc_record
            %form{"action" => "#", "method" => "post"}
              %table.table.table-hover
                %tr{"align" => "center"}
                  %th
                    カロリー
                    %br
                    (kcal)
                  %th
                    タンパク質
                    %br
                    (g)
                  %th
                    脂質
                    %br
                    (g)
                  %th
                    炭水化物
                    %br
                    (g)
                  %tr
                    %td
                      A
                    %td
                      B
                    %td
                      C
                    %td
                      D
                  -# %td{"align" => "center"}
                  -#   %input{"type" => "number", "name" => "calorie", "class" => "input_pfc"} 
                  -# %td{"align" => "center"}
                  -#   %input{"type" => "number", "name" => "protein", "class" => "input_pfc"} 
                  -# %td{"align" => "center"}
                  -#   %input{"type" => "number", "name" => "fat", "class" => "input_pfc"} 
                  -# %td{"align" => "center"}
                  -#   %input{"type" => "number", "name" => "carbohydrate", "class" => "input_pfc"}
  %hr
    %div.row
      %div.col-sm-10-3
        %div.posts
          = render @posts
             