.main-tweet
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    %a.navbar-brand{ href: '#'}
      NAVBAR
    %button.navbar-toggler{"type" => "button",
                           "data-toggle" => "collapse",
                           "data-target" => "#navbarSupportedContent",
                           "aria-controls" => "navbarSupportedContent",
                           "aria-expanded" => "false",
                           "aria-label" => "Toggle navigation"}
      %span.navbar-toggler-icon
    %div.collapse.navbar-collapse{ id: "navbarSupportedContent"}
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{ href: "#"}
            Menu1
        %li.nav-item
          %a.nav-link{ href: "#"}
            Menu2
        %li.nav-item
          %a.nav-link{ href: "#"}
            Menu3
  .contents

    %p1
      フォーム
    %form{ action : "#", method : "post"}
      %table{ border : "1"}
    投稿１
    投稿２
    投稿３