.container-fluid.d-none.d-lg-block
  %div.row
    %div.col-sm-12
    %div.col-sm-6
    %div.col-sm-4
      %div.user-box
        %img{ src: "#", alt: "プロフィール画像" }
        %div.username
          testユーザー
        %div.follow
          フォロー中 100
        %div.follower
          フォロワー 100
        %a.btn.btn-danger(href="#")PFCを投稿する
    %div.col-sm-2
