.container-fluid.d-none.d-lg-block
  .row
    .col-sm-12
    .col-sm-6
    .col-sm-4
      .user-box
        = image_tag 'https://www.pakutaso.com/shared/img/thumb/ookawara-menIMGL1911_TP_V.jpg', height: '100', width: '100'
        .username
          ログイン中ユーザー：
          = current_user.name
        .follow
          フォロー中 100
        .follower
          フォロワー 100
    .col-sm-2
