!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .side-bar
      .header
        %img{ src: "PFCMASTER.png", alt: "PFCMASTERのロゴ" }
        ロゴ画像
        PFC Master
      .contents
        プロフィール画像
        ユーザー名
        (数字)フォロー中
        (数字)フォロワー
        自分の記録
        カロリーグラフ