.simple-calendar {
  padding-top: 120px;
}
.calendar-heading{
  text-align: center;
}
.calendar-title{
  font-size: larger;
}
.table.table-striped{
  text-align: center;
}

.has-events{
  background-color:#90f7bb;
}

tr :nth-child(1) {  
  color:red;
}

tr :nth-child(7) {  
  color:blue;
}

.calendar-food, .calendar-calorie, .calendar-weight{
  color:black;
}

a{
  color:black;
}