body {
  height: 100vh;
}
.image-container{
  padding-top: 87px;
  height: 100%;
  .image-wrapper {
    margin-left: 20px;
    .images {
      margin-top: 30px;
    }
    .my-images {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  .home {
    padding-top: 20px;
  }
}