.selector-for-some-widget {
  box-sizing: content-box;
}

.main-tweet {
  background-color: rgb(245, 245, 245);
  .new-post {
    background-color: #fff;
    margin-top: 60px;
    width: 600px;
    border-color: gray;
    border: ridge;
    border-radius: 10px;
    padding: 5px;
    textarea {
      width: 400px;
    }
  }
}




.main-tweet {
  width: 60%;
  font-family: Verdana, sans-serif;
}

.col-sm-10 {
  padding-top: 15px;
}

.table.table-hover {
  background-color: lightblue;
  border: 2px solid rgba(128, 128, 128, 0.308);
}

hr.style {
  border: 3px solid grey ;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}