* {
  box-sizing: border-box;
}

.post {
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  .post-box {
    background-color: #fff;
    margin-top: 60px;
    width: 735px;
    border-color: gray;
    border: ridge;
    border-radius: 10px;
    padding: 5px;
    textarea {
      width: 400px;
    }
    .upper-post {

    }
    .lower-post {
      table {
        border-collapse: separate;
        border-spacing: 0;
        table-layout:fixed;
        width: 600px;
        // border-radius: 5px 5px 5px 5px;
      }
      table th:first-child{
        border-radius: 10px 0 0 0;
      }
      table th:last-child{
        border-radius: 0 10px 0 0;
        border-right: 1px solid #6cb3fa;
      }
      table th{
        text-align: center;
        color: white;
        background: linear-gradient(#78b7fa,#007bff);
        border-left: 1px solid #6cb3fa;
        border-top: 1px solid #6cb3fa;
        border-bottom: 1px solid #6cb3fa;
        box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
        width: 25%;
        padding: 10px 0;
      }
      table td{
        text-align: center;
        border-left: 1px solid #a8b7c5;
        border-bottom: 1px solid #a8b7c5;
        border-top:none;
        box-shadow: 0px -3px 5px 1px #eee inset;
        width: 25%;
        padding: 10px 0;
        border-radius: 5px 5px 5px 5px;
      }
      
      // table td:last-child{
      //   border-right: 1px solid #a8b7c5;
      //   color: #93beec;;
      // }
      
      table tr:last-child td:first-child {
        // border-radius: 0 0 0 5px;
        border-radius: 5px 5px 5px 5px;
      }
      
      // table tr:last-child td:last-child {
      //   // border-radius: 0 0 5px 0;
      //   border-radius: 5px 5px 5px 5px;
      // }
    }
    ul {
      display: flex;
      justify-content: space-between;
    }
    a:hover {
      text-decoration: none;
    }
  }
}