.users-show{
  padding-top: 100px;
}
.record-index{
  display: flex;
  border: solid 1px;
  .calorie-index{
    // border: solid 1px;
    margin-left: 100px;
  }
  .sumcalorie-index{
    // border: solid 1px;
    margin-left: 100px;
  }
}

.content {
  padding-top: 100px;
}

.fa.fa-heart {
  color: red;
}

.like {
  text-decoration: none;
}

.likes_buttons a:hover{
  text-decoration: none;
}
