.side-bar {
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  width: 300px;
  background-color: #5A738E;;
  .section {
    .user-box {
      height: 300px;
      width: 160px;
      background-color: white;
      border: 5px solid #438cd465;
      border-radius: 10px;
    }
  }
}