.sidebar {
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #2f323a;
  margin-top: 87px;
  height: 100vh;
  overflow-y: scroll;
  &-menu {
    .user-box {
      text-align: center;
      margin: 20px 0 10px;
      .user-img {
        margin-top: 10px;
        border-radius: 50%;
      }
      .username {
        margin-top: 10px;
        color: #F2F2F2;
        font-weight: bolder;
        .user-link {
          text-decoration: none;
        }
      }
    }
    .chart {
      -webkit-border-radius: 4px;
      color: whitesmoke;
      margin-bottom: 5px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 25px;
      list-style: none;
      text-decoration: none;
      background-color: #2f323a;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all  0.3s ease;
      .charts-path {
        text-decoration: none;
        padding: 15px 0 15px 10px;
        -webkit-border-radius: 4px;
        // background-color: #2f323a;
        display: block;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all  0.3s ease;
        .fa.fa-bar-chart, .graph {
          color: whitesmoke;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all  0.3s ease;
        }
      }
    }
    .chart:hover {
      background-color: #0078ff;
      .fa.fa-bar-chart:hover {
      }
      .graph {
      }
    }
    .record, .image-index{
      color:  whitesmoke;
      margin-bottom: 5px;
      margin-left: 10px;
      margin-top: 10px;
      margin-right: 10px;
      padding-right: 20px;
      list-style: none;
      text-decoration: none;
      background-color: #2f323a;
      -webkit-border-radius: 4px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all  0.3s ease;
      .record-path {
        text-decoration: none;
        padding: 15px 10px 15px 10px;
        -webkit-border-radius: 4px;
        // background-color: #2f323a;
        display: block;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all  0.3s ease;
        .fa.fa-table, .record-text {
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all  0.3s ease;
          color: whitesmoke;
        }
      }
    }
    .record:hover, .image-index:hover{
      background-color: #0078ff;
    }
  }
  .bg-slider {
    // width: 300px;
    // height: 200px;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}