.sidebar {
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  width: 300px;
  background-color: #2f323a;
  &-menu {
    .user-box {
      text-align: center;
      margin: 20px 0 10px;
      .user-img {
        border-radius: 50%;
      }
      .username {
        color: #F2F2F2;
      }
    }
    .chart {
      color: whitesmoke;
      margin-bottom: 5px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 25px;
      list-style: none;
      text-decoration: none;
      .charts-path {
        padding: 15px 0 15px 10px;
        -webkit-border-radius: 4px;
        background-color: #0078ff;
        display: block;
        .fa.fa-bar-chart, .graph {
          color: whitesmoke;
        }
      }
    }
    .table {
      color: whitesmoke;
      margin-bottom: 5px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 25px;
      list-style: none;
      text-decoration: none;
      .table-path {
        padding: 15px 0 15px 10px;
        -webkit-border-radius: 4px;
        background-color: #0078ff;
        display: block;
        .fa.fa-table, .table {
          color: whitesmoke;
        }
      }
    }
  }
}