.content {
  padding-top: 100px;
  width: 250px;
  background-color: green;
  .section {
    background-color: rgba(175, 255, 47, 0.377);
    .user-box {
      height: 300px;
      width: 160px;
      background-color: white;
      border: 5px solid #438cd465;
      border-radius: 10px;
      position: fixed;
    }
  }
}