.stats{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  .following {
    .follow-link:hover {
      text-decoration: none;
    }
  }
  .follower{
    margin-left: 5px;
    .follow-link:hover {
      text-decoration: none;
    }
  }
}