@import "reset";
@import "config/colors";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "index";
@import "login";
@import "modules/flash";
@import "modules/user";
@import "modules/like";
@import "side-bar";
@import "main";
@import "post";
@import "preview-image";
@import "image-index";
@import "edit";
@import "show";
@import "stats";
@import "charts";
@import "calendars";
@import "signup";
@import "setting_standard";

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #22242a;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  .my-big {
    font-size: 2em;
    color: gray;
    padding-top: 10px;
    padding-right: 2px;
  }
  .my-logo {
    background-color: #f8f9fa;
  }
  nav {
    background-color: #22242a;
  }
  .navbar {
    display: flex;
    // height: 60px;
  }
  .mypage, .login, .logout, .admin {
    border: 1px solid;
    padding: 5px 15px;
    -webkit-border-radius: 4px;
    margin-left: 10px;
    text-decoration: none;
    transition: all .5s;
  }
  .mypage:hover {
    color: #f8f9fa;
    background-color: #0078ff;
  }
  .logout:hover {
    color: #f8f9fa;
    background-color: #0078ff;
  }
  .login:hover {
    color: #f8f9fa;
    background-color: #0078ff;
  }
  .admin:hover {
    color: #f8f9fa;
    background-color: #0078ff;
  }
}


