@import "reset";
@import "config/colors";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "index";
@import "modules/flash";
@import "modules/user";
@import "modules/like";
@import "side-bar";
@import "main";
@import "post";

header {
  display: flex;
}

.my-big {
  font-size: 2em;
  color: gray;
  padding-top: 10px;
  padding-left: 20px;
}