<!DOCTYPE html>
%html(lang="ja")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title PFC MASTER
    %link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %a.navbar-brand{ href: '#'}PFC MASTER
        %button.navbar-toggler{ "type" => "button", 
                                "data-toggle" => "collapse",
                                "data-target" => "#navbarSupportedContent",
                                "aria-controls" => "navbarSupportedContent",
                                "aria-expanded" => "false", 
                                "aria-label" => "Toggle navigation" }
          %span.navbar-toggler-icon
        .collapse.navbar-collapse{ id: "navbarSupportedContent"}
          %ul.navbar-nav.mr-auto
            %li.nav-item
              %a.nav-link{ "href" => "new_post_path" }
                新規投稿
            %li.nav-item 
              %a.nav-link{ "href" => "destroy_user_session_path", method:  :delete}
                ログアウト
            %li.nav-item
              %a.nav-link{ "href" => "new_user_registration_path"}
                ログイン
            %li.nav-item  
              %a.nav-link{ "href" =>"new_user_registration_path"}
                新規登録
        
        %form.form-inline.my-2.my-lg-0
          %input.form-control.mr-sm-2{ "type" =>"search", "placeholder" => "Search", "aria-label"=>"Search"}
          %button.btn.btn-outline-success.my-2.my-sm-0{ "type" => "submit"}Search
              
    = yield
    %script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    %script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")